CompileFlags:
  CompilationDatabase: build/Debug

---

If:
  PathMatch:
  - Core/.*
  - Drivers/.*
  - Middlewares/.*
  - startup_.*\.s
  PathExclude:
  - Core/Src/main\.c
Diagnostics:
  Suppress: '*'
  ClangTidy:
    Remove: '*'

---

If:
  PathMatch:
  - Core/Src/main\.c
Diagnostics:
  ClangTidy:
    Remove: '*'
